defaults:
  - _self_
  - model: tinny_model
  

generals:
  gpus: 0
data:
  train:
    path: "/../../data/images/"
    percent: 0.7
    shuffle: True
  val:
    path: "/../../data/images/"
    percent: 0.3
    shuffle: False
  test:
    path: "/../../data/images_balance/"
    percent: 0.1
    shuffle: False

  path: "/../../data/images/"
  batch_size: 32
  num_img: 50
  num_workers: 8
  max_epoch: 50
learning_params:
  finetuninng: True
  max_frozen_epoch: 10
  lr: 0.01
  weight_decay: 0.001
  finetuning_lr: 0.00001


